.graph > polygon {
  visibility: hidden;
}

/* source text for export only */
.graph > text {
  visibility: hidden;
}

.graph path {
  stroke: currentColor;
}

.graph .node image {
  translate: 0 -5px;
}

.graph .node.from polygon {
  /* lightseagreen/lightslategray */
  fill: lightseagreen;
}
.graph .node.root polygon {
  /* #5da9a9, #8bcccc */
  fill: goldenrod;
  /* fill: light-dark(#8bcccc,#183636); */
}
/* Safari does not support nesting this in a media query */
/* :root[class*="dark"] .graph .node.root polygon {
  fill: #183636;
} */
/* TODO: Why does this not work? */
/* @media (prefers-color-scheme: dark) {
  .graph .node.root polygon {
    fill: #183636;
  }
} */

.graph .node polygon {
  stroke: currentColor;
  stroke-width: 1.5;
}
.graph .node text {
  fill: currentColor;
  translate: 0 -5px;
}

.graph .edge polygon {
  fill: currentColor;
  stroke: none;
  /* filter: invert(1); */
}

.viz svg {
  container-type: size;
}
/* NOTE
- SVG animation performance is bad on Safari, especially with large graphs
- Safari does not support IntersectionObserver on SVG elements
*/
@container (height < 3500px) {
  .graph .edge path {
    stroke-dasharray: 5,2;
    animation: fx-dot-dash 1s linear infinite reverse;
  }
}

@keyframes fx-dot-dash {
  to {
    /* (5+2)*N */
    stroke-dashoffset: 21;
  }
}
